.demo-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.demo-cards .mdc-card {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 32px;
}
