@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500|Roboto+Mono:400,500';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://material.io/components/css/app.css';

/* linear-progress */

.linear-progress-demo {
  margin: 64px;
}

fieldset .mdc-linear-progress {
  margin: 16px 0;
}

/* button */

fieldset {
  padding: 24px;
  padding-top: 0;
  padding-bottom: 16px;
}

fieldset legend {
  display: block;
  padding: 16px;
  padding-top: 48px;
  padding-bottom: 24px;
}

fieldset .mdc-button {
  margin: 16px;
}

/* fab */

figcaption > div {
  margin: 8px;
}

.demo-fabs {
  display: flex;
  flex-wrap: wrap;
}

/* card */

.demo-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.demo-cards .mdc-card {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 32px;
}
