.example {
  margin: 24px;
  padding: 24px;
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.example > div {
  margin: 48px 0;
  width: 400px;
}

.example h2 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}
